.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('../images/salubra.png');
    background-size: cover;
    background-position: center;
}


.home-subcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-texts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: white;
}

.home-heading {
    margin-bottom: 0;
}

.home-text {
    margin-bottom: 36px;
}

.shop-button {
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 48px;
    width: 240px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;
}

.shop-button:hover {
    transform: scale(1.06);
}

.home-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-image {
    max-width: 700px;
    border-radius: 36px;
}