.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    background-color: #112D4E;
    color: white;
}

.nav-title {
    font-size: 24px;
}

.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-title-link {
    color: white;
    text-decoration: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: transform .2s;
    cursor: pointer;
}

.nav-link:hover {
    transform: scale(1.1);
}

.notify-container {
    position: relative;
    display: inline-block;
}

.cart-logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(211deg) brightness(101%) contrast(105%);
}

.notify-bubble {
    z-index: 1;
    position: absolute;
    top: -6px;
    right: -10px;
    padding: 2px 5px 2px 5px;
    background-color: green;
    font-size: 0.7em;
    border: none;
    border-radius: 50%;
    display: none;
}

.bubble-active {
    display: block;
}