/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-active {
    display: block;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border: none;
    border-radius: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from { top:-50px; opacity:0 } 
    to { top:0; opacity:1 }
}

@keyframes animatetop {
    from { top:-50px; opacity:0 }
    to { top:0; opacity:1 }
}

/* The Close Button */
.close-modal {
    color: white;
    float: right;
    font-size: 36px;
    font-weight: bold;
    opacity: 0.8;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
    opacity: 1;
    text-decoration: none;
}

.modal-header {
    padding: 2px 16px;
    background-color: #112D4E;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-title {
    margin: 16px;
}

.modal-body {
    padding: 16px;
}

button {
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

.cart-item-container {
    margin: 16px;
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
    max-width: 100%;
}

.cart-item-image {
    max-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-item-counter-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.increment-button,
.decrement-button {
    padding: 10px 16px 10px 16px;
    font-size: 20px;
}

.cart-item-quantity {
    margin: 0 16px 0 16px;
}

.modal-total {
    margin: 16px;
    font-size: 20px;
    font-weight: bold;
}

.modal-button {
    margin: 0 16px 16px 16px;
    width: 25%;
}
